<md-card class="md-card-small" ng-controller="vehicle as ctrl" *ngFor="let vehicle of vehicles">
  <md-card-title>
   <span class="md-headline">{{vehicle.make}} {{vehicle.model}}</span>
  </md-card-title>
  <md-card-subtitle>
    <span class="md-subhead"><b>Year:</b> {{vehicle.year}}</span>
  
  <span class="md-subhead"><b>Red Line RPM:</b> {{vehicle.redlineRpm}}</span>
  <span class="md-subhead"><b>Max Fuel Volume:</b> {{vehicle.maxFuelVolume}}</span>
  <span class="md-subhead"><b>Last Service Date:</b> {{vehicle.lastServiceDate.toLocaleString()}}</span>   
  </md-card-subtitle>
</md-card>
