<div class="example-header">
    <md-input-container>
      <input mdInput #filter placeholder="Filter Last Updated(hr)" [(ngModel)]="alertData.timeInHours" (change)="onChangeTime()"/>
    </md-input-container>
  </div>
<div class="example-container mat-elevation-z8">
  <md-table #table [dataSource]="dataSource" mdSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- ID Column -->
    <ng-container cdkColumnDef="vehicleId">
      <md-header-cell *cdkHeaderCellDef md-sort-header> ID </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.vehicleId}} </md-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container cdkColumnDef="vehicleName">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Vehicle Name </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.vehicleName}} </md-cell>
    </ng-container>

    <!-- Timestamp Column -->
    <ng-container cdkColumnDef="readingTime">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Timestamp </md-header-cell>
      <md-cell *cdkCellDef="let row"> {{row.readingTime.toLocaleString()}} </md-cell>
    </ng-container>

    <!-- Priority Column -->
    <ng-container cdkColumnDef="priority">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Priority </md-header-cell>
      <md-cell *cdkCellDef="let row" > {{row.priority}} </md-cell>
    </ng-container>
<!-- component Column -->
    <ng-container cdkColumnDef="component">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Component </md-header-cell>
      <md-cell *cdkCellDef="let row" > {{row.component}} </md-cell>
    </ng-container>
<!-- Color Column -->
    <ng-container cdkColumnDef="message">
      <md-header-cell *cdkHeaderCellDef md-sort-header> Message </md-header-cell>
      <md-cell *cdkCellDef="let row" > {{row.message}} </md-cell>
    </ng-container>

    <md-header-row *cdkHeaderRowDef="displayedColumns"></md-header-row>
    <md-row *cdkRowDef="let row; columns: displayedColumns;"></md-row>
  </md-table>
  <md-paginator #paginator
                [length]="alertData.data.length"
                [pageIndex]="0"
                [pageSize]="25"
                [pageSizeOptions]="[1 , 5, 10, 25, 100]">
  </md-paginator>
</div>