.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  max-width: 100%;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
}
.mat-input-container{
  width:250px;
}
.mat-column-vehicleId{
      min-width: 172px;
}
.mat-column-frontRight{
  max-width: 100px;
}
.mat-cell{
  text-align: center!important;
  align-items: center!important;
  text-align: center;
}
.mat-sort-header-button{
  display:block!important;
}
.mat-sort-header-container{
  text-align: center!important;
  display:block!important;
  align-items: center!important;
}
.width400{
  width:400px!important;
}
agm-map {
  height: 300px;
}