<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar color="primary">
<md-card color="primary">{{title}}</md-card>
<button md-button class="md-fab"  routerLink="/home" aria-label="Home">
            <i style="width:24px" class="material-icons">home</i>
</button>
<button md-button routerLink="/vehicles" class="md-fab" aria-label="Vehicles">
           <i class="material-icons">directions_car</i>
</button>
<button md-button routerLink="/history" class="md-fab" aria-label="History">
           <i class="material-icons">track_changes</i>
</button>
<button md-button routerLink="/recent-alerts" class="md-fab" aria-label="Alerts">
    <i class="material-icons">error</i>
</button>
</md-toolbar>
<md-card>
    <router-outlet></router-outlet>
</md-card>
